@import "./variables";
#side-bar {
    position: relative;
    border-right: 1px solid $page-divider;
    width: 320px;
    height: 100vh;
    padding: 15px 0;
    .container {
        width: 70%;
        margin: auto;
        li {
            align-items: center;
            margin: 25px 0;
            .nav-link {
                display: flex;
            }
            &.active,
            &:hover {
                .nav-title {
                    color: $main-orange;
                }
                .nav-icon {
                    overflow: hidden;
                    transform: translateX(-80px);
                    filter: drop-shadow($main-orange 80px 0);
                }
            }
        }
        .nav-list-logout {
            position: absolute;
            bottom: 0;
        }
    }
}

.nav-logo {
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-title {
    height: 100%;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: $main-font-color;
}

.nav-button {
    width: 100%;
    height: 38px;
    @extend %button-style;
}