@import "./variables";
.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    @extend %page-title-style;
}

.page-content {
    width: 100%;
    height: 120px;
    padding: 10px 15px;
    display: flex;
    &-img {
        img {
            @extend %avatar-img-style
        }
    }
    textarea {
        flex: 1;
        padding: 10px;
        font-size: 18px;
        line-height: 26px;
        border: none;
        resize: none; //取消右下角三角形
    }
    textarea::-webkit-input-placeholder {
        font-size: 18px;
        color: #9197a3;
        font-weight: 700;
    }
    &-button {
        position: relative;
        width: 66px;
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 38px;
            @extend %button-style;
            &:disabled {
                opacity: 0.5;
            }
        }
    }
}