@import './variables';
.container {
    border-left: 1px solid $page-divider;
    width: 462px;
    height: 100vh;
    .list-container {
        margin: 15px 30px;
        width: 350px;
        .list-header {
            width: 100%;
            height: 45px;
            border-radius: 14px 14px 0 0;
            background-color: $popularList-background-color;
            padding: 10px 15px;
            @extend %title-style;
            color: $main-font-color;
            text-align: left;
        }
        .list-card {
            position: relative;
            width: 100%;
            height: 70px;
            padding: 10px 20px;
            background-color: $popularList-background-color;
            border-top: 1px solid $page-divider;
            display: flex;
            &-avatar {
                border: 1px solid gray;
                @extend %avatar-img-style;
            }
            &-content {
                padding: 0 10px;
                font-weight: 700;
                font-size: 15px;
                text-align: left;
                &-name {
                    color: $main-font-color;
                }
                &-account {
                    color: $label-font-color;
                }
            }
            &-button {
                position: absolute;
                top: 17px;
                right: 15px;
                border: 1px solid $main-orange;
                border-radius: 100px;
                height: 35px;
                font-weight: bold;
                font-size: 15px;
                &.follow {
                    width: 60px;
                    color: $main-orange;
                }
                &.following {
                    width: 90px;
                    color: #fff;
                    background-color: $main-orange;
                }
            }
            &:last-child {
                border-radius: 0 0 14px 14px;
            }
        }
    }
}