@import "../styles/variables";
.page-title {
    @extend %page-title-style;
    &::before {
        content: "←";
        margin-right: 10px;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .tweet-card {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 15px;
        &-info {
            display: flex;
            &-img {
                img {
                    @extend %avatar-img-style;
                }
            }
            &-name {
                margin-left: 15px;
                .name {
                    @extend %user-name-style;
                }
                .account {
                    @extend %user-account-style;
                }
            }
        }
        &-content {
            padding: 15px 0;
            &-text {
                font-weight: 500;
                font-size: 23px;
                color: $main-font-color;
                line-height: 34px;
            }
            &-time {
                @extend %user-account-style;
                letter-spacing: 0.5px;
                margin-top: 15px;
            }
        }
        &-reply {
            border-top: 1px solid $page-divider;
            padding: 20px 0;
            span {
                margin-right: 20px;
                font-weight: 500;
                b {
                    color: $main-font-color;
                    margin: 0 3px;
                }
            }
            img {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin: 0 100px 0 3px;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.tweet-reply-list {
    flex: 1;
    border-top: 1px solid $page-divider;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
        &-thumb {
            border-radius: 10px;
            background-color: $page-divider;
        }
    }
    .tweet-reply {
        padding: 15px;
        display: flex;
        flex-direction: row;
        font-size: 15px;
        border-bottom: 1px solid $page-divider;
        &-img {
            img {
                @extend %avatar-img-style;
            }
        }
        &-content {
            flex: 1;
            padding: 0 10px;
            text-align: left;
            line-height: 23px;
            font-weight: 500;
            &-info {
                @extend %user-name-style;
                .info {
                    margin-left: 5px;
                    font-weight: 700;
                    color: $label-font-color;
                    letter-spacing: 0.5px;
                }
            }
            &-avatar {
                color: $label-font-color;
                span {
                    color: $main-orange;
                }
            }
            &-comment {
                color: $main-font-color;
            }
        }
    }
}