@import "../styles/variables";
.modal-container {
    width: 100vw;
    height: 100vh;
    padding: 54px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    width: 600px;
    height: 450px;
    border: 1px solid $page-divider;
    border-radius: 14px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    .modal-header {
        width: 100%;
        height: 54px;
        padding: 20px;
        border-bottom: 1px solid $page-divider;
        text-align: left;
        img {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
    }
}

.modal-content {
    position: relative;
    width: 100%;
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    &-tweet {
        display: flex;
        &-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                @extend %avatar-img-style;
            }
            .line {
                border: 1px solid #ccd6dd;
                flex: 1;
                width: 2px;
                margin: 5px 0;
            }
        }
    }
    &-info {
        flex: 1;
        text-align: left;
        padding: 0 10px;
        &-name {
            @extend %user-account-style;
            .name {
                @extend %user-name-style;
                margin-right: 5px;
            }
        }
        &-text {
            padding: 5px 0;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: $main-font-color;
        }
        &-creater {
            padding: 15px 0;
            font-weight: 500;
            font-size: 13px;
            color: $label-font-color;
            .account {
                margin-left: 5px;
                color: $main-orange;
            }
        }
    }
    &-reply {
        flex: 1;
        display: flex;
        margin: 10px 0;
        &-img {
            img {
                @extend %avatar-img-style;
            }
        }
        textarea {
            width: 100%;
            flex: 1;
            padding: 10px;
            font-size: 18px;
            line-height: 26px;
            border: none;
            resize: none; //取消右下角三角形
        }
    }
    &-button {
        position: relative;
        width: 100%;
        height: 38px;
        cursor: pointer;
        button {
            @extend %button-style;
            width: 66px;
            height: 38px;
            position: absolute;
            right: 0;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
}