@import "./variables";
.page-title {
    @extend %page-title-style;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-content {
    padding: 15px 0;
}

.form-group {
    position: relative;
    .symbol {
        position: absolute;
        top: 38px;
        left: 30px;
    }
    &.input-error>input {
        border-bottom: 2px solid $error-red !important;
    }
    label {
        position: absolute;
        top: 18px;
        left: 20px;
        font-weight: 500;
        font-size: 14px;
        color: #657786;
    }
    input {
        width: 642px;
        height: 52px;
        margin: 15px;
        padding: 1.75rem 0rem 0.5rem 10px;
        border: none;
        border-bottom: 2px solid $input-bottom-color;
        border-radius: 4px 4px 0px 0px;
        font-size: 20px;
        background-color: $input-background-color;
        box-shadow: inset 0 0 0 1000px $input-background-color;
        &:focus,
        &:hover {
            border-bottom: 2px solid $link-blue;
            box-shadow: inset 0 0 0 1000px $input-background-color;
        }
    }
    #account {
        padding: 1.75rem 0rem 0.5rem 33px;
    }
    .error-message {
        position: absolute;
        left: 15px;
        bottom: -5px;
        font-size: 15px;
        font-weight: 500;
        line-height: 15px;
        color: $error-red;
    }
}

.button-wrapper {
    position: relative;
    height: 46px;
    margin: 20px;
    .form-button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 116px;
        height: 100%;
        @extend %button-style;
        border-radius: 50px;
    }
}