@import './variables';

.profile-stepper {
  border-bottom: 1px solid $page-divider;
  cursor: pointer;
  .stepper-wrapper {
    width: 390px;
    height: 52px;
    display: flex;
    justify-content: space-evenly;
    .stepper-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9375rem;
      font-weight: 700;
      color: $form-gray;
      &:hover, &.active {
        color: $main-orange;
        border-bottom: 1px solid $main-orange;
      }
    }
  }
}