// color variables
$main-orange: #ff6600;
$main-font-color: #1c1c1c;
$page-divider: #e6ecf0;
$label-font-color: #657786;
$form-gray: #657786;
$input-background-color: #f5f8fa;
$input-bottom-color: #657786;
$popularList-background-color: #f5f8fa;
$black: #000000;
$white: #ffffff;
$link-blue: #0099ff;
$main-font: "Noto Sans TC",
sans-serif;
%title-style {
    font-size: 1.4375rem;
    font-weight: 700;
}

//每一頁中間最上面標題，包含下匡線
%page-title-style {
    width: 100%;
    height: 55px;
    color: $main-font-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    padding: 10px 20px;
    border-bottom: 1px solid $page-divider;
}

%button-style {
    background: $main-orange;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

%logo-style {
    font-size: 1.4375rem;
    font-weight: 700;
    font-family: $main-font;
}

%label-style {
    font-size: 0.9375rem;
    font-weight: 500;
    font-family: $main-font;
    color: $form-gray;
}

%input-style {
    font-size: 0.9375rem;
    font-weight: 500;
    font-family: $main-font;
    color: $black;
}

//user name style
%user-name-style {
    font-size: 15px;
    font-weight: 700;
    color: $main-font-color;
}

//user account & create time
%user-account-style {
    font-size: 15px;
    font-weight: 500;
    color: $label-font-color
}

%avatar-img-style {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}